<div class="container" ng-app="app" ng-controller="HomeController as vm">
  <form id="search">
    <div class="form-group">
      <div class="col-md-8 col-md-offset-2">
        <h3>Have a question?</h3>
        <search-box></search-box>
      </div>
    </div>
  </form>
  <div class="col-md-8 col-md-offset-2 sb-animate" ng-show="vm.searches.length > 0">
    <h3>
      Analytics Searches
      <span class="pull-right">
        <button type="button"
          class="btn btn-sm btn-danger"
          ng-click="vm.reset()"><span><i class="fa fa-trash"></i> Clear stats</span></button>
      </span>
    </h3>
    <p>These are all searched queries:</p>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="search in vm.searches">
        <span class="badge">{{ search.count }} searches</span>
        {{ search.text }}
      </li>
    </ul>
  </div>
</div>
