/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require animate-css
 *= require font-awesome
 *= require_self
 *= require_tree .
 */
body {
  background: #f8f8f8 !important;
}

.fast {
  -webkit-animation-duration: .25s;
     -moz-animation-duration: .25s;
      -ms-animation-duration: .25s;
       -o-animation-duration: .25s;
          animation-duration: .25s;
}

.sb-animate,
.sb-animate.ng-move,
.sb-animate.ng-enter,
.sb-animate.ng-leave {
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.sb-animate {
  opacity: 1;
}
.sb-animate.ng-hide {
  opacity: 0;
}